body {
    background: linear-gradient(-40deg, #fe85e4, #ffeb6e);
    font-family: 'Gotham Rounded', sans-serif;
}


/*
for the daily question video 
*/

#main_video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin-top: -80%;
}

#button_container{
    margin-top: -80%;
    display: flex;
    justify-content: center;
}

#main_video {
    max-width: 500px;
    max-height: 500px;
    border-radius: 30%;
}

#main_video-button {
    background-color: gainsboro;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    vertical-align: center;  
    line-height: 100px;
    font-size: .75m;
    transition-property: box-shadow;
    transition-duration: .3s;
    margin-left: 40px;
    margin-right: 40px;

}

#main_video-button:hover {
    cursor: pointer;
    box-shadow: gray 0 0 5px 5px;
    transition-property: box-shadow;
    transition-duration: .3s; 
}

#finalize-button {
    background-color: gainsboro;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    vertical-align: center;  
    line-height: 100px;
    font-size: .75m;
    transition-property: box-shadow;
    transition-duration: .3s;
    margin-right: 40px;
    margin-left: 40px;
}

#finalize-button:hover {
    cursor: pointer;
    box-shadow: gray 0 0 5px 5px;
    transition-property: box-shadow;
    transition-duration: .3s; 
}

.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;

}

.fadeInUp {
    -webkit-animation: fadeInUp 1.5s;
    animation: fadeInUp 1.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn 1s;
    animation-name: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 
 @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 
 


.container-home-text{
    display: flex;
    gap: 3%;

    justify-content: center;
}

.caption {
    display: block;
}

.container {
    display: flex; 
    flex-direction: column;
    flex-flow: space-around;
}
.navbar{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: absolute;
    bottom: 5%;
}

.navbar-nft {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: absolute;
    bottom: 5%;
}


.nav-logo{
    padding-left: 70px;
    padding-right: 70px;
    
    
}

.nav-logo:hover {
    filter: opacity(50%);
}



.container-nft{
    display: flex;
    width: 100%;
 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    padding: 20px;
}

.inner-nft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}



#send-button {
    background-color: black;
    border-radius: 15px;
    width: 800px;
    font-size: 40px;
    margin-top: 20px;
}

#icons {
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap; 
    position: relative; 
    justify-content: center; 
    gap: 20px; 
    text-align: center;
}




.btn {
    width: 100px; 
    height: 100px; 
}

.container-emote {
    display: flex;
    flex-direction: column;
}
.person {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}

.person-img {
    border-radius: 50%;
    height: 170px;
}
.person-name {
    font-size: 50px;
    color: white;
    
}

#heart-pic {
    visibility: hidden;
}